ClienteWeb/Service References/ProxyVisitas/AirlineServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AirlineServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AirlineServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVisitas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Visitas" nillable="true" type="tns:Visitas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVisitas" nillable="true" type="tns:ArrayOfVisitas" />
  <xs:complexType name="Visitas">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoPasajero" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CodigoDestino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaDespeque" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaLlegada" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NomRuta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreLugar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombrePasajero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RankingVisitasDestinosPeruanos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Visitas" nillable="true" type="tns:Visitas" />
</xs:schema>