ClienteWeb/Service References/ProxyVisitas/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AirlineServices" />
  <xs:element name="GetVisitas_X_Fecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitas_X_FechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AirlineServices" minOccurs="0" name="GetVisitas_X_FechaResult" nillable="true" type="q1:ArrayOfVisitas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitas_X_LugarOrigen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LugarOrigen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitas_X_LugarOrigenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AirlineServices" minOccurs="0" name="GetVisitas_X_LugarOrigenResult" nillable="true" type="q2:ArrayOfVisitas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllVisitas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllVisitasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AirlineServices" minOccurs="0" name="AllVisitasResult" nillable="true" type="q3:ArrayOfVisitas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RankingVisitasDestinosPeruanos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaLLegada" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RankingVisitasDestinosPeruanosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AirlineServices" minOccurs="0" name="RankingVisitasDestinosPeruanosResult" nillable="true" type="q4:ArrayOfVisitas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>