ClienteWeb/Service References/ProxyVisitas/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioVisitas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AirlineServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioVisitas_GetVisitas_X_Fecha_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitas_X_Fecha" />
  </wsdl:message>
  <wsdl:message name="IServicioVisitas_GetVisitas_X_Fecha_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitas_X_FechaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioVisitas_GetVisitas_X_LugarOrigen_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitas_X_LugarOrigen" />
  </wsdl:message>
  <wsdl:message name="IServicioVisitas_GetVisitas_X_LugarOrigen_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitas_X_LugarOrigenResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioVisitas_AllVisitas_InputMessage">
    <wsdl:part name="parameters" element="tns:AllVisitas" />
  </wsdl:message>
  <wsdl:message name="IServicioVisitas_AllVisitas_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllVisitasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioVisitas_RankingVisitasDestinosPeruanos_InputMessage">
    <wsdl:part name="parameters" element="tns:RankingVisitasDestinosPeruanos" />
  </wsdl:message>
  <wsdl:message name="IServicioVisitas_RankingVisitasDestinosPeruanos_OutputMessage">
    <wsdl:part name="parameters" element="tns:RankingVisitasDestinosPeruanosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioVisitas">
    <wsdl:operation name="GetVisitas_X_Fecha">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioVisitas/GetVisitas_X_Fecha" message="tns:IServicioVisitas_GetVisitas_X_Fecha_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioVisitas/GetVisitas_X_FechaResponse" message="tns:IServicioVisitas_GetVisitas_X_Fecha_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVisitas_X_LugarOrigen">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioVisitas/GetVisitas_X_LugarOrigen" message="tns:IServicioVisitas_GetVisitas_X_LugarOrigen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioVisitas/GetVisitas_X_LugarOrigenResponse" message="tns:IServicioVisitas_GetVisitas_X_LugarOrigen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllVisitas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioVisitas/AllVisitas" message="tns:IServicioVisitas_AllVisitas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioVisitas/AllVisitasResponse" message="tns:IServicioVisitas_AllVisitas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RankingVisitasDestinosPeruanos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioVisitas/RankingVisitasDestinosPeruanos" message="tns:IServicioVisitas_RankingVisitasDestinosPeruanos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioVisitas/RankingVisitasDestinosPeruanosResponse" message="tns:IServicioVisitas_RankingVisitasDestinosPeruanos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioVisitas" type="tns:IServicioVisitas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVisitas_X_Fecha">
      <soap:operation soapAction="http://tempuri.org/IServicioVisitas/GetVisitas_X_Fecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVisitas_X_LugarOrigen">
      <soap:operation soapAction="http://tempuri.org/IServicioVisitas/GetVisitas_X_LugarOrigen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllVisitas">
      <soap:operation soapAction="http://tempuri.org/IServicioVisitas/AllVisitas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RankingVisitasDestinosPeruanos">
      <soap:operation soapAction="http://tempuri.org/IServicioVisitas/RankingVisitasDestinosPeruanos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioVisitas">
    <wsdl:port name="BasicHttpBinding_IServicioVisitas" binding="tns:BasicHttpBinding_IServicioVisitas">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/AirlineServices/ServicioVisitas/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>