ClienteMVC/Service References/ProxyHistorialPasajero/AirlineServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AirlineServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AirlineServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPasajero">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pasajero" nillable="true" type="tns:Pasajero" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPasajero" nillable="true" type="tns:ArrayOfPasajero" />
  <xs:complexType name="Pasajero">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantVuelos" type="xs:int" />
      <xs:element minOccurs="0" name="CodPasajero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DNI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaDespeque" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaLlegada" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Genero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LugarDestino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LugarOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nacionalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomPasajero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumTelefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pasajero" nillable="true" type="tns:Pasajero" />
</xs:schema>