Cliente/Service References/ProxyMigrantes/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioMigrantes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AirlineServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioMigrantes_ListaPaises_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaPaises" />
  </wsdl:message>
  <wsdl:message name="IServicioMigrantes_ListaPaises_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaPaisesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioMigrantes_ConsultaMaximoMigrantesNacionalidad_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaMaximoMigrantesNacionalidad" />
  </wsdl:message>
  <wsdl:message name="IServicioMigrantes_ConsultaMaximoMigrantesNacionalidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaMaximoMigrantesNacionalidadResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioMigrantes_ListaMigrantesInternacionales_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaMigrantesInternacionales" />
  </wsdl:message>
  <wsdl:message name="IServicioMigrantes_ListaMigrantesInternacionales_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaMigrantesInternacionalesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioMigrantes_ListaMigrantesNacionales_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaMigrantesNacionales" />
  </wsdl:message>
  <wsdl:message name="IServicioMigrantes_ListaMigrantesNacionales_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaMigrantesNacionalesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioMigrantes_ListaMigrantesPaisesFechas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaMigrantesPaisesFechas" />
  </wsdl:message>
  <wsdl:message name="IServicioMigrantes_ListaMigrantesPaisesFechas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaMigrantesPaisesFechasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioMigrantes_ListaPaisesMigrantes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaPaisesMigrantes" />
  </wsdl:message>
  <wsdl:message name="IServicioMigrantes_ListaPaisesMigrantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaPaisesMigrantesResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioMigrantes">
    <wsdl:operation name="ListaPaises">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioMigrantes/ListaPaises" message="tns:IServicioMigrantes_ListaPaises_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioMigrantes/ListaPaisesResponse" message="tns:IServicioMigrantes_ListaPaises_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaMaximoMigrantesNacionalidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioMigrantes/ConsultaMaximoMigrantesNacionalidad" message="tns:IServicioMigrantes_ConsultaMaximoMigrantesNacionalidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioMigrantes/ConsultaMaximoMigrantesNacionalidadResponse" message="tns:IServicioMigrantes_ConsultaMaximoMigrantesNacionalidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaMigrantesInternacionales">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioMigrantes/ListaMigrantesInternacionales" message="tns:IServicioMigrantes_ListaMigrantesInternacionales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioMigrantes/ListaMigrantesInternacionalesResponse" message="tns:IServicioMigrantes_ListaMigrantesInternacionales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaMigrantesNacionales">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioMigrantes/ListaMigrantesNacionales" message="tns:IServicioMigrantes_ListaMigrantesNacionales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioMigrantes/ListaMigrantesNacionalesResponse" message="tns:IServicioMigrantes_ListaMigrantesNacionales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaMigrantesPaisesFechas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioMigrantes/ListaMigrantesPaisesFechas" message="tns:IServicioMigrantes_ListaMigrantesPaisesFechas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioMigrantes/ListaMigrantesPaisesFechasResponse" message="tns:IServicioMigrantes_ListaMigrantesPaisesFechas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaPaisesMigrantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioMigrantes/ListaPaisesMigrantes" message="tns:IServicioMigrantes_ListaPaisesMigrantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioMigrantes/ListaPaisesMigrantesResponse" message="tns:IServicioMigrantes_ListaPaisesMigrantes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioMigrantes" type="tns:IServicioMigrantes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaPaises">
      <soap:operation soapAction="http://tempuri.org/IServicioMigrantes/ListaPaises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaMaximoMigrantesNacionalidad">
      <soap:operation soapAction="http://tempuri.org/IServicioMigrantes/ConsultaMaximoMigrantesNacionalidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaMigrantesInternacionales">
      <soap:operation soapAction="http://tempuri.org/IServicioMigrantes/ListaMigrantesInternacionales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaMigrantesNacionales">
      <soap:operation soapAction="http://tempuri.org/IServicioMigrantes/ListaMigrantesNacionales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaMigrantesPaisesFechas">
      <soap:operation soapAction="http://tempuri.org/IServicioMigrantes/ListaMigrantesPaisesFechas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaPaisesMigrantes">
      <soap:operation soapAction="http://tempuri.org/IServicioMigrantes/ListaPaisesMigrantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioMigrantes">
    <wsdl:port name="BasicHttpBinding_IServicioMigrantes" binding="tns:BasicHttpBinding_IServicioMigrantes">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/AirlineServices/ServicioMigrantes/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>